/* stile */
:root {
    --primary-color: #1e2a47;
    /* Blu-grigio scuro per testi ed elementi primari */
    --secondary-color: #2980b9;
    /* Blu vivace per accenti come pulsanti e link */
    --accent-color: #c0392b;
    /* Rosso intenso per elementi in evidenza */
    --hover-accent: #e74c3c;
    /* Rosso più chiaro per effetti hover */
    --background-color: #2c3e50;
    /* Sfondo grigio scuro per il corpo */
    --card-color: #34495e;
    /* Colore carta più scuro per un contrasto sottile */
    --text-color: #ecf0f1;
    /* Bianco-grigiastro chiaro per testo leggibile */
    --header-bg-color: #34495e;
    /* Blu-grigio più scuro per l'header */
}










* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}


/* Header */
header {
    background: var(--header-bg-color);
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
}


h1 {
    margin-bottom: 1rem;
}


header a {
    text-decoration: none;
    color: white;
}


.auth-links {
    position: absolute;
    top: 20px;
    right: 20px;
}


.auth-links a {
    color: #fff;
    background: var(--accent-color);
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}


.auth-links a:hover {
    background: var(--hover-accent);
}


/* Ricerca */
.search-container {
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 20px auto;
}


.search-form {
    display: flex;
    width: 100%;
    background-color: var(--card-color);
    box-shadow: none;
}


.search-form input {
    /* padding: 12px 20px; */
    font-size: 1rem;
    border-radius: 25px 0 0 25px;
    width: 80%;
    outline: none;
    transition: border-color 0.3s;
    margin: 0;
    /* Rimuovi eventuali margini */
    height: 46px;
    /* Altezza fissa */
}


.search-form input:focus {
    border-color: var(--secondary-color);
}


.search-form button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 0 25px 25px 0;
    padding: 12px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0;
    height: 46px;
    display: flex;
    max-width: 15%;
}


.search-form button:hover {
    background-color: var(--hover-accent);
}


#results-title {
    margin: 1.5rem 0;
    color: white;
    text-align: center;
}


/* Griglia dei Giochi */
.games-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-bottom: 2rem;
}


.game-card {
    background-color: var(--card-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
}


.game-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.game-image {
    max-width: 100%;
    overflow: hidden;
}


.game-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
    border-radius: 5px 5px 0 0;
}


.game-card:hover .game-image img {
    transform: scale(1.05);
}


.game-info {
    padding: 15px;
    flex-grow: 1;
    text-align: center;
}


.game-title {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--secondary-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 3.4em;
}


.sito {
    font-weight: bold;
}


.game-price {
    color: var(--accent-color);
    font-weight: bold;
    font-size: 1.2rem;
}


.game-link {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}


.game-link:hover {
    background-color: var(--hover-accent);
}


#no-results {
    text-align: center;
    padding: 40px;
    font-size: 1.2rem;
    color: #777;
}


/* Messaggi Flash */
.flash-messages {
    text-align: center;
    margin: 20px 0;
}


.flash {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
}


.flash.success {
    background: #4CAF50;
    color: white;
}


.flash.danger {
    background: #e74c3c;
    color: white;
}


.flash.warning {
    background: #f1c40f;
    color: black;
}


/* Moduli */
form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}


form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


form button {
    background: var(--accent-color);
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}


form button:hover {
    background: var(--hover-accent);
}


.login-form label {
    color: var(--primary-color);
}


.back-to-home {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}


.back-to-home:hover {
    background-color: #236d9f;
}


p {
    text-align: center;
    margin-top: 10px;
}


p a {
    color: var(--accent-color);
    font-weight: bold;
    text-decoration: none;
}


p a:hover {
    text-decoration: underline;
}


footer {
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    color: #777;
}


.return-button {
    display: block;
    margin: 15px auto;
    padding: 8px 16px;
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    width: fit-content;
}


.return-button:hover {
    background-color: var(--hover-accent);
}


/* Responsive */
@media (max-width: 768px) {
    .games-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }


    .container {
        padding: 10px;
    }


    .auth-links {
        position: static;
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
}


@media (max-width: 480px) {
    .games-grid {
        grid-template-columns: 1fr;
    }


    .search-form input {
        width: 70%;
        height: 46px;
        /* Mantieni la stessa altezza anche in mobile */
    }


    .search-form button {
        height: 46px;
        /* Mantieni la stessa altezza anche in mobile */
    }
}


footer {
    background-color: var(--background-color);
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}


.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}


.back-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: fit-content;
    padding: 10px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}


.back-to-top svg {
    width: 20px;
}


.button {
    text-decoration: none;
    color: white;
}


.back-to-top:hover {
    background-color: #0056b3;
}


/* Stili per la sezione wishlist */
.wishlist {
    margin-top: 30px;
    padding: 20px;
    background-color: #1f2937;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.wishlist h2 {
    color: #ffffff;
    margin-bottom: 20px;
    border-bottom: 1px solid #374151;
    padding-bottom: 10px;
}


.empty-wishlist,
.login-prompt {
    color: #9ca3af;
    text-align: center;
    margin: 20px 0;
}


.game-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    position: relative;
}


.game-link {
    width: 100%;
    text-align: center;
}


.game-details {
    display: flex;
    margin-bottom: 20px;
    text-align: left;
}


.wishlist-link {
    position: absolute;
    bottom: 5px;
    right: 10px;
    display: inline-block;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s;
    text-decoration: none;
}


.wishlist-link:hover {
    transform: scale(1.2);
}


.wishlist-link.active {
    color: #ef4444;
}


.remove-link {
    color: #ef4444;
    background-color: transparent;
    border: 1px solid #ef4444;
    border-radius: 4px;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 0.8rem;
}


.remove-link:hover {
    background-color: #ef4444;
    color: white;
}